# ---------- Python ----------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ---------- Virtual Environment ----------
venv/
.env

# ---------- Environment variables ----------
.env.*
*.env

# ---------- Vector DB / Local data ----------
backend/chroma_db/
*.pdf

# ---------- OS ----------
.DS_Store
Thumbs.db

# ---------- Editor ----------
.vscode/
.idea/
